/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require normalize-rails
 *= require_tree .
 */
@import "variables";

header {
  overflow: hidden;
  margin-bottom: 50px;
  border-bottom: 1px solid #CACACA;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.4),0 0px 10px rgba(0, 0, 0, 0.1);
  @include background-gradient(#FAFAFA, #EAEAEA);

  .content {
    overflow: hidden;

    .logo {
      float: left;
      @include logo;
      @include header-content;

      a {
        text-decoration: none;
      }
    }

    ul.hmenu {
      float: right;
      @include horizontal-list;
      @include header-content;
    }
  }
}

.content {
  width: $content-width;
  margin: 0 auto;
}

.form {
  .required:after {
    content: 'required';
    color: $color-red;
    @include after-note;
  }

  .input {
    display: block;
    margin: 0 0 15px 0;
  }
  .input.submit {
    margin: 25px 0 10px 0;
  }

  input[type=submit] {
    @include submit-button(url(http://twitter.toqoz.net/images/toqoz.png));
    @include transition(all 0.518s ease-in-out);
    @include border-radius(2px);
  }
  input[type=submit]:hover {
    @include submit-button-hover(url(http://twitter.toqoz.net/images/toqoz.png));
  }

  input[type=text], input[type=password], textarea {
    font-size: $font-size-small;
    height: 20px;
    line-height: 20px;
    padding: 4px;
    border: 1px solid rgba(0, 0, 0, .1);
    @include border-radius(6px);
  }
  textarea {
    height: 50px;
    line-height: 20px;
  }
}

#flash_notice {
  color: $color-blue;
}

#flash_alert {
  color: $color-red;
}
