/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require normalize-rails
 *= require_tree .
 */
header {
  overflow: hidden;
  background: #FAFAFA;
  background: -moz-linear-gradient(#FAFAFA, #EAEAEA);
  background: -webkit-linear-gradient(#FAFAFA, #EAEAEA);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#fafafa', endColorstr='#eaeaea')";
  border-bottom: 1px solid #CACACA;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.4),0 0px 10px rgba(0, 0, 0, 0.1);

  .logo {
    font-weight: normal;
    font-size: 2em;
    float: left;
    margin: 0;
    padding: 0;
    height: 35px;
  }
  .logo a {
    text-decoration: none;
  }
  ul.hmenu {
    float: right;
    overflow: hidden;
    margin: 0;
    padding: 0;
    height: 35px;
    line-height: 35px;
    vertical-align: middle;
    list-style-type: none;

    li {
      float: left;
      margin: 0 0 0 10px;
    }
  }
}

.content {
  width: 900px;
  margin: 0 auto;
}

#flash_notice {
  color: blue;
}

#flash_alert {
  color: red;
}

.form {
  width: 500px;
  margin: 20px auto;

  .required:after {
    content: 'required';
    color: red;
    margin-left: 1em;
    padding: .1em;
    font-size: .8em;
  }

  .input {
    display: block;
    margin: 0 0 15px 0;
  }
  .input.submit {
    margin: 25px 0 10px 0;
  }

  input[type=submit] {
    background: url(http://twitter.toqoz.net/images/toqoz.png) no-repeat #F3F3F3;
    font-size: 12px;
    font-weight: bold;
    color: #6E6E6E;
    padding: 9px 15px 9px 35px;
    text-shadow: 0 1px 0 white;
    border: solid 1px gainsboro;
    -webkit-transition: all 0.518s ease-in-out;
    -moz-transition: all 0.518s ease-in-out;
    -ms-transition: all 0.518s ease-in-out;
    -o-transition: all 0.518s ease-in-out;
    transition: all 0.518s ease-in-out;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 2px;
    margin-right: 5px;
  }
  input[type=submit]:hover {
    border: solid 1px #aeaeae;
    background: url(http://twitter.toqoz.net/images/toqoz.png) no-repeat #d5d5d5;
  }

  input[type=text], input[type=password], textarea {
    font-size: 13px;
    height: 20px;
    line-height: 20px;
    padding: 4px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -o-border-radius: 6px;
    border: 1px solid rgba(0, 0, 0, .1);
  }
  textarea {
    height: 50px;
    line-height: 20px;
  }

}
