// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "variables";

#page_user_new {
  .page_canvas {
    border: 1px solid rgba(0, 0, 0, .1);
    margin: 20px auto 0;
    @include border-radius(6px);
  }
  .form {
    width: 500px;
  }
}
#page_user_show {
  $top-row-height: 250px;
  $top-row-margin-bottom: 20px;
  $left-col-width: 250px;

  overflow: hidden;

  .title {
    color: $color-gray;
    margin: 0 0 20px 0;
  }

  // right col
  .profile {
    width: $left-col-width;
    float: left;

    .image {
      width: $left-col-width;
      height: $top-row-height;
      margin: 0 0 $top-row-margin-bottom 0;
    }
    .detail {
      dl {
        margin: 0 0 $top-row-margin-bottom 0;
        @include horizontal-dl(250px);
      }
    }
  }

  // left col
  .graph {
    width: $content-width - $left-col-width;
    height: $top-row-height;
    line-height: $top-row-height;
    vertical-align: middle;
    margin: 0 0 0 $left-col-width;
    background-color: $color-gray;

    // FIXME
    font-size: 60px;
    text-align: center;
  }

  .latest-post {
    width: $content-width - $left-col-width;
    margin: 0 0 0 $left-col-width;

    li {
      border-bottom: 1px solid $color-gray;
    }
  }
}

