// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#page_user_show {
  overflow: hidden;

  .title {
    color: #CCCCCC;
  }

  .profile {
    width: 250px;
    float: left;

    .image {
      width: 250px;
      height: 250px;
    }
    .detail {
      dl {
        div {
          overflow: hidden;
          width: 250px;
          margin: 0 0 10px 0;
          border-bottom: 1px solid #CCCCCC;
        }
        dt {
          float: left;
          width: 70px;
          color: #CCCCCC;
        }
        dd {
        }
      }
    }
  }
  .attention {
    margin: 15px 0;
    padding: 10px;
    font-size: 12px;
    color: #6D6D4B;
    background: #FFFFDE;
    border: 1px solid #E4E4C6;
    border-right-color: #EFF2C7;
    border-bottom-color: #EFF2C7;
    border-radius: 3px;
  }
  .latest-post {
    width: 650px;
    margin: 0 0 0 250px;

    li {
      border-bottom: 1px solid #CCCCCC;
    }
  }
}

