// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#page_user_new {
  .page_canvas {
    border: 1px solid rgba(0, 0, 0, .1);
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -o-border-radius: 6px;
    border-radius: 6px;
    margin: 20px auto 0;
  }
}
#page_user_show {
  overflow: hidden;

  .title {
    color: #CCCCCC;
  }

  .profile {
    width: 250px;
    float: left;

    .image {
      width: 250px;
      height: 250px;
    }
    .detail {
      dl {
        div {
          overflow: hidden;
          width: 250px;
          margin: 0 0 10px 0;
          border-bottom: 1px solid #CCCCCC;
        }
        dt {
          float: left;
          width: 70px;
          color: #CCCCCC;
        }
        dd {
        }
      }
    }
  }

  .graph {
    height: 250px;
    margin: 0 0 0 250px;
    background-color: #CCC;

    // FIXME
    font-size: 60px;
    line-height: 250px;
    vertical-align: middle;
    text-align: center;
  }

  .latest-post {
    width: 650px;
    margin: 0 0 0 250px;

    li {
      border-bottom: 1px solid #CCCCCC;
    }

    .attention {
      margin: 15px 0;
      padding: 10px;
      font-size: 12px;
      color: #6D6D4B;
      background: #FFFFDE;
      border: 1px solid #E4E4C6;
      border-right-color: #EFF2C7;
      border-bottom-color: #EFF2C7;
      border-radius: 3px;
    }
  }
  .form {
    width: 500px;
  }
}

